*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: auto;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}
.article{
    width: 350px;
    cursor: pointer;
    float: left;
}

.img{
    width: 100%;
    position: relative;
    margin-bottom: 24px;
}

.heart{
    position: absolute;
    left: 229px;
    background-color: white;
    border: 10px;
    font-size: 30px;
    top: 45px;
    padding: 7px 17px;
}

.sconto{
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 6px;
    position: absolute;
    top: 348px;
}

.material{
    background-color: #038C5A;
    position: absolute;
    color: white;
    font-weight: bold;
    padding: 6px;
    top: 348px;
    left: 54px;
}

.material2{
    background-color: #038C5A;
    position: absolute;
    color: white;
    font-weight: bold;
    padding: 6px;
    top: 348px;
}

.brand{
    font-size: 13px;
}

.description{
    text-transform: uppercase;
    font-weight: bold;
}

.img-article{
    width: 80%;
}

.purchase-price{
    font-weight: bold;
    color: red;
    font-size: 14px;
}

.price{
    color: black;
    font-weight: lighter;
    text-decoration: line-through;
}