*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: auto;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}
.article{
    width: 350px;
    cursor: pointer;
    float: left;
}

.article > .img{
    position: relative;
    background-size: cover;
    background-position: center;

}

.img >.heart{
    position: absolute;
    background-color: white;
    font-size: 30px;
    right: 0;
    top: 15px;
}